#share_status {
    display: inline-block;
    width: initial;
    text-align: center;
    font-size: 14px;
}
.greentext {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.yellowtext {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.redtext {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.whitetext {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}